@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap");

.stickyNoteContentBody {
  background-color: purple;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stickyNoteButtons {
  /* height: 100%;
  width: 100%; */
  width: 100%;
  top: 1;
  left: 0;
  position: absolute;

  background-color: grey;
  z-index: 5;
}

.button-group {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 6vh; */
}

.button-group button {
  background-color: none;
  border: none;
  margin-top: 1.5%;
  margin-left: 12px;
  text-align: center;
  font-family: "Kanit", monospace;
  /* font-size: 15px; */
  font-weight: 800;
}

.button-group button:hover {
  transition-duration: 0.45s;
  background-color: rgb(80, 77, 98);
}

.stickyNoteText {
  margin-top: 3vh;
  width: 100%;
}

/* .highlight {
  background-color: yellow;
} */

mark {
  background-color: #ebc354;
  border-radius: 0.085rem;
  box-decoration-break: clone;
  padding: 0.1rem;
}

.ProseMirror {
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Kanit", monospace;
  font-weight: 400;
  color: #e7e7e7;
}

.ProseMirror:focus {
  outline: none;
}
